/* Base Application Styles */
html, body {
  color: #fff;
  background: #222;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

.stage {
  width: 100%;
  height: 680px;
}

.img-sec {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #DDD;

  @at-root {
    .img-figure {
      position: absolute;
      box-sizing: border-box;
      background: #FFF;
      text-align: center;
      padding:10px;
      width:170px;
      overflow: hidden;
      color: #a7a0a2;
      .img-item {
        width: 150px;
      }
    }
  }
}



.controller-nav {
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;
}
